# Ignore everything by default
/*

# Keep this .gitignore itself
!.gitignore

# Allow these dirs
!data/
!scripts/

# Ignore their contents by default
data/**
scripts/**

# Whitelist exactly these files
!data/fight_data_raw_enriched.csv
!data/fight_data.csv
!scripts/data_cleaning.R
!scripts/eda.Rmd

# RStudio noise
.Rproj.user/
