# Ignore everything by default
/*

# Keep this .gitignore itself
!.gitignore

# Allow these dirs
!data/
!scripts/

# Whitelist exactly these files
!data/fight_data_raw_enriched.csv
!scripts/data_cleaning.R
!scripts/eda.Rmd
